/* Bem-Vindos ao documento style CSS da página de Educação do meu site! */

/* GERAIS */ 
body {
    margin: 0px;
    font-family: Lato Lig;
}
body ::selection {
    background-color:#acc2ff;
}
sup {
    font-size: 15px;
}
@font-face {
    font-family: Lato Lig;
    src: url(../PortalParqueSaoDomingos/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: Lato Regular;
    src: url(../PortalParqueSaoDomingos/Lato/Lato-Regular.ttf);
}
a:visited {
    color: #4378FF;
}
a {
    text-decoration: none;
    color: #4378FF;
}
#menu a:visited {
    color: white;
}

/* MENU INICIAL */ 
#menu {
    border-collapse: collapse;
    background-color: #7dea88;
    position: fixed;
    top: 0px;
    z-index: 5;
    font-family: Lato Regular;
}
#ed {
    border-bottom: #4378FF 3px solid;
}
.abas:hover {
    border-bottom: #4378FF 3px solid;
    transition: 0.3s;
}
#imagemarvore {
    width: 100px;
    height: 100px;
}
#título {
    text-align: left;
    color: white;
    font-size: 55px;
    line-height: 35px;
    padding-bottom: 30px;
    font-family: Lato Lig;
}
#portal {
    font-size: 27px;
}
.abas {
    width: 341px;
    background-color: #52cf4f;
    text-align: center;
    height: 30px;
    font-size:x-large;
}

/* INÍCIO */
.educação2 {
    margin-left: 45px;
    font-size: 26px;
    width: 1250px;
    display: inline-block;
    vertical-align: top;
}
#educação {
    margin-left: 45px;
    font-size: 26px;
    margin-top: 170px;
}
.educação1 {
    font-family: Lato Regular;
    font-size: 28px;
}

/* ESCOLAS PRIVADAS, PÚBLICAS E CURSOS */
.imagens {
    display: inline-block;
    border: #4378FF solid 2px;
    margin-right: 20px;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 250px;
}

/* RODAPÉ */ 
#rodape {
    background-color: #63C661;
    height: 650px;
    margin-top: 50px;
}
#títulorodape {
    color: white;
    font-size: 45px;
    line-height: 30px;
    display: inline-block;
    position: relative;
    top: 5px;
    right: 60px;
    font-family: Lato Regular;
}
#imagemarvorerodape, #figure {
    width: 90px;
    height: 90px;
    display: inline-block;
    position: relative;
    right: 10px;
    top: 10px;
}
#portal {
    font-size: 24px;
}
#mapadosite {
    margin-left: 180px;
    width: 1000px;
    color: white;
    font-size: 20px;
    border-spacing: 25px;
    position: relative;
    bottom: 40px;
    margin-top: 50px;
}
#mapalinha {
    text-align: right;
    width: 250px;
    border-bottom: 2px solid #3E4653;
}
#linhalinks {
    text-align: right;
    width: 250px;
}
#redes {
    color: white;
    margin-left: 180px;
    font-size: 24px;
    width: 980px;
    text-align: center;
}
#siga {
    border-bottom: #3E4653 solid 2px;
}
#rights {
    text-align: center;
    margin-top: 40px;
}
#imagemredes {
    height: 90px;
    width: 105px;
}
#mapadosite a {
    color: white;
}